In [1]:
#or
#and

In [3]:
#or 
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [4]:
#and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
#and &

a = int(input("Enter a = "))
b = int(input("Enter b = "))
o = input(" Enter + or - or * or / ")
if o == '+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o == '/' and b!=0: #and operator is used
    print(a/b)
elif o == '/' and b==0: #and oeprator is used
    print("The value of b cannot be zero")
else:
    print("Invalid operator")

In [6]:
physics = int(input("Enter physics marks"))
chemistry = int(input("Enter chemistry marks"))
maths = int(input("Enter maths marks"))
english = int(input("Enter english marks"))
nepali = int(input("Enter nepali marks"))

total = physics + chemistry + maths + english + nepali
per = total/5

if per > 80 or per ==80:
    grade = 'A'
elif per > 60 or per ==60:
    grade = 'B'
elif per > 45 or per ==45:
    grade = 'C'
else:
    grade = 'F'
    
print("Your total = ",total )
print("Per = ",per)
print("Grade = ",grade)

Enter physics marks100
Enter chemistry marks100
Enter maths marks100
Enter english marks100
Enter nepali marks100
Your total =  500
Per =  100.0
Grade =  A

In [ ]:
#nested ifelse statements
# if <conditon>:
#     if <condition>:
#         <operations>
#         else:
#             <operation>
# else:
#     <operation>

#EXAMPLE:

In [12]:
physics = int(input("Enter physics marks"))
chemistry = int(input("Enter chemistry marks"))
maths = int(input("Enter maths marks"))
english = int(input("Enter english marks"))
nepali = int(input("Enter nepali marks"))

if physics>=32 and chemistry>=32 and maths>=32 and english>=32 and nepali>=32:

    total = physics + chemistry + maths + english + nepali
    per = total/5

    if per >= 80: 
        grade = 'A'
    elif per >= 60:
        grade = 'B'
    elif per >= 45:
        grade = 'C'
    else:
        grade = 'F'

    print("Your total = ",total )
    print("Per = ",per)
    print("Grade = ",grade)
    
else:
    print("You have failed")

Enter physics marks20
Enter chemistry marks100
Enter maths marks100
Enter english marks100
Enter nepali marks100
You have failed

In [1]:
a = input("hello")
prin(a)

hellowrr
wrr

In [ ]:
#LOOP
#TYPES:
# 1) for loop 
# 2) while loop

In [ ]:
# for loop

In [1]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [2]:
for i in range(0,5,2):  #starting from 0 increment from 2
    print(i,"Hello world")

0 Hello world
2 Hello world
4 Hello world

In [ ]:
n = int(input("Enter value of n"))
for i in range(1,11):
    print(n*i)

In [1]:
n = int(input("Enter value of n"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter value of n6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [2]:
for i in range (5):
    x = input("Enter x = ")
    print("you entered",x)

Enter x = 34
you entered 34
Enter x = 90
you entered 90
Enter x = 7
you entered 7
Enter x = 8
you entered 8
Enter x = 9
you entered 9

In [4]:
a = 0
for i in range(5):
    x = int(input("Enter x ="))
    a = a + x

print(a)

Enter x =45
Enter x =45
Enter x =45
Enter x =45
Enter x =54
234

In [1]:
a = ""   #str()
for i in range(5):
    x = input("Enter x =")
    a = a + x + "\n"

print(a)

Enter x =neera
Enter x =eva
Enter x =anugya
Enter x =shelly
Enter x =ojaswi
neera
eva
anugya
shelly
ojaswi

In [5]:
a = ""   #str()
for i in range(3):
    Name = input("Enter Name =")
    Age = input("Enter Age =")
    Address = input("Enter Address =")
    
    a = a +  Name +" "+ str(Age) +" " + Address + "\n"
print(a)

Enter Name =nur
Enter Age =rjng
Enter Address =rgj
Enter Name =rgbj
Enter Age =rjf
Enter Address =trnj
Enter Name =runj
Enter Age =runj
Enter Address =rtnj
nur rjng rgj
rgbj rjf trnj
runj runj rtnj

In [ ]:
#range(1,5) 1 2 3 4

In [12]:
# 5! = 1*2*3*4*5
fac =1 
n = int(input("Enter n ="))
for i in range (1,n+1):
    fac = fac* i
      
    print(fac)

Enter n =5
1
2
6
24
120

In [ ]:
fac = 24
i =5

In [ ]:
#HOMEWORK 
#WAP TO CREATE A BILLING SYSTEM
# name = ?
# price = ?
# quantity = ?
# total = ?

In [1]:
a = "Hello world"
print(len(a))

11

In [5]:
a = "Hello world. I am python"
for i in a:
    if i != ".":
        print(i,end = "")

Hello world I am python

In [6]:
a = "Hello world. I am python!"
for i in a:
    if i != "." and i != "!":
        print(i,end = "")

Hello world I am python

In [ ]:
# control statements
# examples:
#     break ()
#     continue
#     pass

In [ ]:
#break

In [7]:
n = 10
for i in range (10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [10]:
a = "Hello world. I am python"
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello world

In [15]:
a = "Hello world. I am python"
for i in a:
    if i == ".":
        continue
    print(i, end = "")

Hello world I am python

In [24]:
n = 10
for i in range (10):
    if i == 5:
        continue
    print(i,end = " ")

0 1 2 3 4 6 7 8 9

In [26]:
#pass  (when there is no sureity of what to print or when our code is incomplete)
for i in range(5):
    pass

In [ ]:
# homework: while loop theory

In [ ]:
# SYNTAX OF WHILE LOOP:
#     while <condition>:
#         <operations>

In [2]:
a = 0
while a <= 5:
    print(a,"Hello world")
    a = a + 1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [3]:
a = 1
while a <= 5:
    print(a,"Hello world")
    a = a + 1

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [4]:
a = 1
while a <= 5:
    print(a,"Hello world")
    a = a + 2

1 Hello world
3 Hello world
5 Hello world

In [6]:
a = 5
while a >= 0:
    print(a,"Hello world")
    a = a - 1

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world
0 Hello world

In [9]:
i = 1
n = int(input('Enter n ='))
while i <= 10:
    print(n,"*",i,"=",n*i)
    i = i + 1

Enter n =7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [13]:
i = 0
s = 0
n = int(input("Enter n ="))
while i<n:
    x = int(input("Enter x ="))
    s = s + x
    i = i + 1 
print(s)

Enter n =3
Enter x =5
Enter x =7
Enter x =7
19

In [16]:
i = 0
s = ""
n = int(input("Enter n ="))
while i<n:
    x = input("Enter x =")
    s = s + x + "\n"
    i = i + 1 
print(s)

Enter n =3
Enter x =neera
Enter x =eva
Enter x =anugya
neera
eva
anugya

In [ ]:
#factorial
# 5! = 1*2*3*4*5

In [21]:
i = 1 
fac = 1 
n = int(input("Enter n ="))
while i<=n:
    fac = fac* i
    i = i + 1
print(fac)

Enter n =7
5040

In [ ]:
# control statements
# examples:
#     break ()
#     continue
#     pass

In [ ]:
#break

In [7]:
i = 0
while i<=10:
    if i ==5:
        break
    print(i)
    i = i + 1

0
1
2
3
4

In [13]:
i = 5
while i<=10:
    if i ==5:
        i = i + 1
        continue
    print(i)
    i = i + 1

6
7
8
9
10

In [ ]:
# for else loop

In [14]:
# prime no : 2,3,5,7,11,13,17,19
# composite : 4,6,8,10,12,14,16

In [18]:
n = int(input("Enter n ="))
for i in range (2,n):
    if n%i==0:
        print("Composite number")
        break
else:
    print("Prime number")

Enter n =11
Prime number

In [ ]:
# Next string