In [1]:
a = 10 ri
print(a)

10

In [5]:
a = 10                 #interger 
b = 10.5               #float 
c = "Hello world"      #string
d = True               #boolean

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello world
True
10 10.5 Hello world True

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a = 10                 #interger  0-9
b = 10.5               #float     0-9 with.
c = "Hello world"      #string    inside '' ""
d = True               #boolean   either true or false

In [ ]:
a = 'hello world'
a = "hello world"
a = ''''hello world'''

In [ ]:
true = 10 
a = true

In [ ]:
#capital small should be taken care bc python is casee sensitive

In [ ]:
# + - * /

In [7]:
a = 10
b = 3 
c = a + b # these are operators and operands
print(c)

13

In [8]:
a = 10
b = 3 

print(a%b)
print(a**b) # 10^3
print(a//b) #decimal value is ignored

1
1000
3

In [1]:
a = "Hello"
b = "World"
print(a + b)

HelloWorld

In [12]:
print("Hello world\n"*2)

Hello world
Hello world

In [15]:
a = True #1
b = False #0
print(a + b)
print (a * b)

1
0

In [17]:
a = 10
b = 0 
print(a/b) #case of exception

ZeroDivisionError: division by zero