In [ ]:
# python collection
# list 
# tuple
# dict
# # set

In [ ]:
# list 
# - indexing
# - multiple and duplicate data 
# -ordered 
# - mutable

In [3]:
a = list()
a = [1,2,3,4,5,6,7,8,9,10]
b = ["Apple","Ball","Cat","Dog","Fish"]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [4]:
#List supports indexing

print(b[0])
print(b[0:5])
print(b[0:5:2])             # 2 means increment from two

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [5]:
a = [1,2,3,4,5,6,7,8,9,10]
b = ["Apple","Ball","Cat","Dog","Fish"]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [6]:
b = ["Apple","Ball","Cat","Dog","Fish"]
print(b*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [8]:
a = [1,2,3,4,5,6,7,8,9,10]      # cannot be mathematically multiplied but can be enlarged
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# append() #insert() #extend()  ##append means adding smth

In [9]:
b = ["Apple","Ball","Cat","Dog","Fish"]
b.append("Ball")
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Ball']

In [ ]:
# create a list

In [10]:
a = []
n = int(input("Enter n ="))
for i in range(n):
    x = int(input('Enter x ='))
    a.append(x)
print(a)

Enter n =2
Enter x =45
Enter x =78
[45, 78]

In [12]:
 print("Min value =",min(a))      # shows the minimum value
print("Max value =", max(a))      #shows the maximum value
print("Sum value", sum(a))
a.sort()     # this does the ascending part 
print(a)
a.reverse()   # this does the descending part
print(a)

Min value = 45
Max value = 78
Sum value 123
[45, 78]
[78, 45]

In [13]:
a = ["Ball","X ray","Yak","Apple","Banana"]
a.sort()        # does the aplhabetical ordering when it comes to strings
print(a)

['Apple', 'Ball', 'Banana', 'X ray', 'Yak']

In [14]:
#insert()  [ if we wanna add some sort of value in the selected part]

a = ["Ball","X ray","Yak","Apple","Banana"]
a.insert(1,"Bat")
print(a)

['Ball', 'Bat', 'X ray', 'Yak', 'Apple', 'Banana']

In [15]:
# Extend - if we wanna add smth immediately 
a = ["Ball","X ray","Yak","Apple","Banana"]   
b = [1,2,3]
a.extend(b)
print(a)

['Ball', 'X ray', 'Yak', 'Apple', 'Banana', 1, 2, 3]

In [16]:
# edit - edits the existing value in the list
a = ["Ball","X ray","Yak","Apple","Banana"]   
a[0] = "ball"
a

['ball', 'X ray', 'Yak', 'Apple', 'Banana']

In [21]:
a = ["Ball","X ray","Yak","Apple","Banana"]   
a[0:2] = ["ball","xray"]
print(a)

['ball', 'xray', 'Yak', 'Apple', 'Banana']

In [ ]:
#del remove () pop()

In [22]:
#del 

a = ["Ball","X ray","Yak","Apple","Banana"]   
del(a[0])
print(a)

['X ray', 'Yak', 'Apple', 'Banana']

In [23]:
a = ["Ball","X ray","Yak","Apple","Banana"]   
del a[0:2]
print(a)

['Yak', 'Apple', 'Banana']

In [24]:
# remove() - removes a character from the list and cannot remove multiple values
a = ["Ball","X ray","Yak","Apple","Banana"]   
a.remove("Ball")
a

['X ray', 'Yak', 'Apple', 'Banana']

In [25]:
#POP - KINDA MOVES THE VALUE FROM THE GIVEN LIST
a = ["Ball","X ray","Yak","Apple","Banana"]  
b = a.pop(0)
print(a)
b

['X ray', 'Yak', 'Apple', 'Banana']

'Ball'

In [27]:
# loop in list
a = ["Ball","X ray","Yak","Apple","Banana"]   
for i in a:
    print(i)

Ball
X ray
Yak
Apple
Banana

In [28]:
l = ["Ball","X ray","Yak","Apple","Banana"]    
print(len(l))        #Shows the length of the given list

5

In [3]:
i = 0
a = ["Ball","X ray","Yak","Apple","Banana"]   
l = len(a)
while i<1:
    print(a[i])
    i = i+1

Ball

In [2]:
i = 0
a = ["Ball","Xray","Yak","apple","Banana"]
l = len(a)
while i<l:
    print(a[i])
    i = i+1

Ball
Xray
Yak
apple
Banana

In [ ]:
# list inside list (Nested list)

In [ ]:
 l =

In [2]:
l = [[1,2,3]
     ,[4,5,6]
     ,[7,8,9]]

print(l[1])

[4, 5, 6]

In [3]:
print(l[0][0])

1

In [5]:
print(l[1][1])

5

In [6]:
l = [["Ram", 34, "Kathmandu"],
     ["Shyam",67,"Bhaktapur"],
     ["Hari",34,"Lalitpur"]]

print(l)

[['Ram', 34, 'Kathmandu'], ['Shyam', 67, 'Bhaktapur'], ['Hari', 34, 'Lalitpur']]

In [ ]:
# WAP TO CREATE LIST INSIDE LIST

In [12]:
info = []
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter Name = ")
    age = input("Enter age = ")
    add = input("Enter address = ")
    info.append([name,age,add])    #whole list gets append
    
print(info)

Enter n =2
Enter Name = neera
Enter age = 18
Enter address = chabahil
Enter Name = eva
Enter age = 20
Enter address = india
[['neera ', '18 ', 'chabahil '], ['eva ', '20 ', 'india']]

In [19]:
l = [["Ram", 45, "Kathmandu"],
     ["Shyam",56,"Bhaktapur"],
     ["Ram",23,"Lalitpur"],
    ["Sabin",56, "Jhapa"]]
l [0][0] = "Ram Prasad"     #l[0] = ['Ram prasad', 45, 'Kathmandu'] this is editing the list 

print(l)

[['Shyam', 56, 'Bhaktapur'], ['Ram', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

In [ ]:
#delete 
del l [0]

In [20]:
print(l)

[['Shyam', 56, 'Bhaktapur'], ['Ram', 23, 'Lalitpur'], ['Sabin', 56, 'Jhapa']]

In [36]:
#search 
l = [["Ram ", 45, "Kathmandu"],
     ["Shyam",56,"Bhaktapur"],
     ["Ram",23,"Lalitpur"],
    ["Sabin",56, "Jhapa"]]

for i in l:
    print(i)

['Ram ', 45, 'Kathmandu']
['Shyam', 56, 'Bhaktapur']
['Ram', 23, 'Lalitpur']
['Sabin', 56, 'Jhapa']

In [42]:
#search 
name = input("Enter name = ")
for i in l:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 23, 'Lalitpur']

In [40]:
a = ["Ram", "Shyam", "Hari", "Ramesh", "Shyam"]
if "Ram" in a:
    print("Yes",a.count("Ram"))

Yes 1

In [30]:
for i in a:
    print(i)

Ram
Shyam
Hari
Ramesh
Shyam

In [3]:
#search 
l = [["Ram ", 45, "Kathmandu"],
     ["Shyam",56,"Bhaktapur"],
     ["Ram Prasad",23,"Lalitpur"],
    ["Sabin",56, "Jhapa"]]
name = input("Enter name = ")
for i in l:
    if name.lower() in i[0].lower():
        print(i)

Enter name = shyam
['Shyam', 56, 'Bhaktapur']

In [ ]:
#WAP TO REMOVE all MULTIPLE or duplicate DATA FROM THE LIST
# l = ["Apple","Ball","Cat","Fish","Apple"] 

# WAP TO FIND INDEX OF DUPLICATE DATA FROM LIST
# l = ["Apple","Ball","Cat","Fish","Apple"]