In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\anaconda3\lib\site-packages (8.4.0)

In [8]:
import mysql.connector #importing database
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "python_class_130"
)
db = database.cursor()               #holds the sql queries

In [3]:
 #READ DATA FROM TABLE
db.execute("SELECT * FROM student")   #READ DATA FROM TABLE
result = db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined

In [9]:
sql = ''' INSERT INTO student (number, name, physics, chemistry, maths, english, nepali, total, per, grade) 
VALUES (21, 'neera', 85, 85, 67, 83, 67, 100, 86.5, 'A');'''

db.execute(sql)
database.commit()

NameError: name 'db' is not defined