In [1]:
a = "Hello world"
b = 'Hello world'
c = 'Hello world'
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello"
b = "World"
c = a + b 
print(c)

HelloWorld

In [3]:
a = "Hello world \n"
print(a*2)

Hello world
Hello world

In [4]:
a = "Hello world"
for i in a:
    print(i, end = "")

Hello world

In [9]:
#STRING SLICING
a = "Hello world"
print(a[0])
print(a[0:5])
print(a[0:11:2])

H
Hello
Hlowrd

In [10]:
a = "Hello world"
print(a[-1])
print(a[-1:-12:-1])
print(a[::-1])

d
dlrow olleH
dlrow olleH

In [11]:
a = "Hello world"
count = len(a)
count

11

In [12]:
a = "Hello world"
l = len(a)
for i in range(l):
    print(a[i], end = "")

Hello world

In [14]:
i = 0
a = "Hello world"
l = len(a)
while i<1:
    print(a[i], end = "")
    i = i+1

H

In [19]:
#STRING FORMATTING

name = "Ram"
age = 40
add = "Kathmandu"

info = f"Hello world i am {name}. I am from {add}. I am {age}"
print(info)

Hello world i am Ram. I am from Kathmandu. I am 40

In [ ]:
all_total = 0
info = ""
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter product name = ")
    price = int(input("Enter price ="))
    qty = int(input("Enter quantity = "))
    total = price * qty
    info = info + f"{name} {price} {qty} {total} \n"
    all_total = all_total + total 
print(info)
print(all_total)

Enter n =7
Enter product name = rice
Enter price =90
Enter quantity = 1
Enter product name = daal
Enter price =90
Enter quantity = 1

In [ ]:
# SEARCH IN STRING

name = "Ram Shyam Hari Sita Gita Akash Nabin Nilam Nilam"  #sequence of characters
search = input("Enter name =")
if search in name:
    print("Yes",name.count(search))    #shows the amount of character (name.count)
else:
    print("No")

In [1]:
name = "Ram Shyam Hari Sita Gita Akash Nabin Nilam Nilam"
print(name.upper())
print(name.lower())

RAM SHYAM HARI SITA GITA AKASH NABIN NILAM NILAM
ram shyam hari sita gita akash nabin nilam nilam

In [5]:
# SEARCH IN STRING

name = "Ram Shyam Hari Sita Gita Akash Nabin Nilam Nilam Ramesh".lower()  #.lower() is added to remove the limitation of ucase and lcase
search = input("Enter name =").lower()
if search in name:
    print("Yes",name.count(search))   
else:
    print("No")

Enter name =ram
Yes 2

In [7]:
#replace
name = "Ram Shyam Hari Sita Gita Akash Nabin Nilam Nilam Ramesh"
name = name.replace("Hari","Harry")
print(name)

Ram Shyam Harry Sita Gita Akash Nabin Nilam Nilam Ramesh

In [9]:
#replace or delete
name = "Ram Shyam Hari Sita Gita Akash Nabin Nilam Nilam Ramesh"
name = name.replace("Hari","") #empty string caused the removal of harry ("")
print(name)

Ram Shyam  Sita Gita Akash Nabin Nilam Nilam Ramesh

In [10]:
#replace
name = "Ram Shyam Hari Sita Gita Akash Nabin Nilam Nilam Ramesh"
name.split()

['Ram',
 'Shyam',
 'Hari',
 'Sita',
 'Gita',
 'Akash',
 'Nabin',
 'Nilam',
 'Nilam',
 'Ramesh']